$done-color: #79B984;
$yellow-bar: #faf02e;
$yellow-second: #faf6a6;
$dark-blue: #3A4454;
$text-color: #2c3e50;
$lite-blue: #a3b2cb;
$purple: rebeccapurple;
$yellow-item: #fff4226e;

$blue-ligth: #5684b1;

$body: #faf6ff;


