.basket{
    position: relative;
    transition: 0.7s all;
    padding: 30px 0;
    h5{
        text-align: right;
        font-size: 20px;
    }
    &-wrapper{
        // background-color: $done-color;
        padding: 5px 10px;
        border-radius: 7px;
        row-gap: 15px;
        display: flex;
        flex-direction: column;
        
        &:first-child{
            margin-top: 50px;
        }
    }
    &-item{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 4px;
        background-color: $yellow-item;
        padding: 10px 10px 8px 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        transition: 0.7s all;
        border: 0.5px solid #2c3e50;
        box-shadow: 0px 2px 5px;
        p{
            margin-top: 10px;
        }
        span{
            padding-left: 15px;
            letter-spacing: 1px;

        }
        &_add{
            font-size: 16px;
            letter-spacing: 3px;
            text-decoration: underline;
        }
        &_drink{
            background-color: #a3b2cb6e;
        }
        
    }
    &-howmany{
        position: absolute;
        right: 35px;
        font-size: 20px;
        text-align: right;
        cursor: pointer;
    }
    &-placeholder{
        margin-top: 50px;
        font-size: 30px;
        text-align: center;
    }
    &-form{
        display: flex;
        flex-direction: column-reverse;
        min-width: 272px;
        padding: 0 10px;
        font-weight: 600;
        select{
            margin-top: 10px;
            border: 2px solid #a3b2cb;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 6px;
            height: 40px;
        }
        input{
            border: 2px solid #a3b2cb;
            padding-left: 10px;
            padding-right: 60px;
            border-radius: 6px;
            height: 40px;
        }
        label{
            margin-bottom: 10px;
            margin-top: 20px;
            
            span{
                font-weight: 700;
                margin-right: 10px;
            }
            i{
                font-size: 16px;
                cursor: pointer;
                &::before{
                    color: rebeccapurple;
                }
            }
        }
        &-btn{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: 5px;
            column-gap: 15px;
            i{
                font-size: 22px;
                &::before{
                    color: rebeccapurple;
                }
            }
            button{
                background-color: transparent;
                border: none;
                width: 30px;
                padding: 0;
                i{
                    font-size: 30px;
                }
            }
            
        }
    }
    &-img{
        width: 200px;
    }
    &-addMenu{
        width: 100%;
        &_item{
            display: flex;
            justify-content: space-between;
        }
    }
    &-desc{
        &_address{
            color: #000;
        }
    }
}

.addressCoise{
    color: rgb(165, 0, 0);
    animation: choiseNeed 0.5s 2 ease-out; 
}

@keyframes choiseNeed{
    0%{
        padding-left: -10px;
    }
    50%{
        padding-left: 10px;
    }
    100%{
        padding-left: 0;
    }
}
.openAdd{
    min-height: 200px;
}


.form-check-input{
    &:checked{
        background-color: $blue-ligth;
        border: 1px solid $dark-blue;
    }
}

.slide-fade-enter-active {
    transition: all 0.5s ease-out;
  }
  
  .slide-fade-leave-active {
    
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    opacity: 0;
  }

